#home {
	background-image: url("IMG_2348.jpg");
	background-repeat: no-repeat; 
	background-size: 100% auto;
        position: relative;
        font-family: "Century Gothic";
        text-align: left;
	font-weight: bold;
	padding-left: 200px;
	padding-top: 50px;
}
#intro {
        font-size: 2.5em;
}
#blurb {
        font-size: 1.5em;
}

#link {
        padding-top: 280px;
	font-size: 2em;
        font-family: "Century Gothic";
	text-decoration: none;
	word-spacing: 40px;
	color: white;
}

#photo {
        position: center;
}

#resume {
        background-color: lightblue;
        margin: 50px 50px 50px 50px;
        font-family: "Century Gothic";
}
.return {
        text-align: right;
}
.category {
        text-transform: uppercase;
        border-bottom-style: solid;
        border-bottom-width: 2px;
}
#degree {
        font-style: italic;
}

#bio {
        background-color: lightblue;
        text-align: center;
	line-height: 2;
        font-family: "Century Gothic";
}
