/*******************************************************************************
*		        Personal Website Main CSS File (index.css)
*******************************************************************************/

body, html {
	  height: 100%;
	  font: 400 15px/1.8 "Lato", serif;
	  color: white;
      background-color: black;
}

.home {
    position: relative;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-image: url("final_black_background.jpg");
    background-attachment: fixed;
    min-height: 100%;
}

li {
    list-style: none;
}

#menu {
  position: absolute;;
  top: 0%;
  width: 100%;
  text-align: right;
  position: fixed !important;
  background-attachment: fixed !important;
}

#menu span.menu_item {
	color: white;
	font-size: 13px;
	letter-spacing: 3px;
	padding-right: 60px;
}
#menu span.menu_item:hover {
	color: #50755A;
}

div.main_content {
    position: fixed;
    display: table;
    text-align: center;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 230px;
    width: 500px;
    overflow: auto;
    background: black;
    border-style: solid;
    border-width: medium;
    border-color: white;
    padding: 20px;
}


.main_content > #name_content{
    display: table-cell;
    vertical-align: middle;
    color: white;
    font-size: 50px;
    letter-spacing: 5px;
}

.main_content > #about_content {
    display: table-cell;
    vertical-align: middle;
    color: white;
    text-align: center;
  	font-size: 18px;
    line-height: 26px;
}

.main_content > #resume_content {
    display: table-cell;
    vertical-align: middle;
    color: white;
    text-align: center;
  	font-size: 40px;
}

.main_content > #portfolio_content {
    display: table-cell;
    vertical-align: middle;
    color: white;
    text-align: center;
    font-size: 18px;
    line-height: 26px;
}

.main_content > #contact_content {
    display: table-cell;
    vertical-align: middle;
    color: white;
    text-align: center;
  	font-size: 50px;
    letter-spacing: 15px;
}

.link{
	color: white;
}

.link:hover{
	color: #50755A;
}

a {
	text-decoration: none;
}
